mixin selectList(className, ...items)
	select(class= className)
		each item in items
			option(value= item)= item

mixin testsList(className, ...items)
	each item in items
		fieldset(class="testSelect_" + item)
			legend Тест
			select(class="testList")
				//- option(value= item)= item
				//- option(value= item)= item
				//- option(value= item)= item
			br
			label Тривалість переви після тесту (хв):
			label(class="pauseDuration_" + item) 1
			input(type="range" min="0" max="5" step="1" value="1" class="pauseDuration_" + item)

extends layout

block content

	form.adminPage
		
		fieldset.examinationType
			legend Про дослідження
			input(name="projectName" placeholder="Назва дослідження")
			label Тип: 
				+selectList("examinationType", "", "Індивідуальне", "Групове")
		
		+_newUserData

		fieldset.testSelectSet
			legend Виберіть методики
			label Кількість методик: 	
				+selectList('testCount', "0")		
			+testsList('testList', 1, 2, 3)			
			
		input(type='submit').submitNewTest

		fieldset.linkToGo
			legend Досліджуваним
			input(name='text' type='text' placeholder="Скопіюйте та надішліть").genTestLink

block append scripts
	script(src='/javascripts/uuid.js')
	script(src='/javascripts/admin.js')