extends layout

block content
  h1= title

  //- script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    
  //- script(src='/javascripts/uuid.js')
  //- script(src='/javascripts/main.js')
